<menu>
    <menuitem label='Start here'>
        <menu>
            <menuitem label='Welcome'>
                <menu>
                    <menuitem label='Welcome page'>
                        <icon>fa:info-circle blue</icon>
                        <action>WelcomeView</action>
                    </menuitem>
                </menu>
            </menuitem>
        </menu>
    </menuitem>
</menu>
