<!DOCTYPE html>
<html>
<head>
    <title>Adianti Framework :: Samples</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {LIBRARIES}
    {HEAD}
</head>
<body>
    <div class="adianti_container">
        <div class="header">
            <div class="header_content">
                <div class="logo1" style="position:relative; width:48%; padding-top:14px">
                    <a target="newwindow" href="http://www.adianti.com.br/framework">
                        <img src="app/templates/theme1/images/framework.png">
                    </a>
                </div>
                
                <div class="logo2" style="position:relative; width:48%">
                    <a target="newwindow" href="http://www.adianti.com.br">
                        <img src="app/templates/theme1/images/adianti.png">
                    </a>
                </div>
            </div>
            <div class="header_bottom" style="clear:both"></div>
        </div>
        
        <div class="body">
            <div id="menuDiv">
                <div class="tutor-navbar">
                  <div class="tutor-navbar-inner">
                    {MENU}
                  </div>
                </div>
            </div>
            <div id="adianti_div_content" class="content"></div>
            <div id="adianti_online_content"></div>
            <div id="adianti_online_content2"></div>
            <div id="pageboth"><br></div>
        </div>
        <div style="clear:both;"></div>
    </div>
</body>
</html>